html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h3 {
    margin: 20px;
}
header div {
    margin: 20px 20px;
}

.black-border {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 3px rgba(128, 128, 128, 0.466);
}

.timer-box {
    display: flex;
    background-color: rgb(119, 119, 230);
    border-radius: 5px;
    border: 2px solid black;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    min-height: 500px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

button {
    margin: 10px;
    background-color: rgb(119, 119, 230);
    border-radius: 5px;
    padding: 5px;
}

.quizBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer-bank {
    display: flex;
    flex-direction: column;
}
.quiz-button {
    min-width: 50px;
    background-color: rgba(0, 183, 255, 0.664);
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.425);
}

button:hover {
    background-color: blueviolet;
    color: whitesmoke;
    cursor: pointer;
}

.score-item {
    padding-top: 5px;
}