html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h3 {
    margin: 20px;
}
header div {
    margin: 20px 20px;
}

.black-border {
    border: 2px solid black;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    min-height: 500px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.quizBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer-bank {
    display: flex;
    flex-direction: column;
}
.quiz-button {
    background-color: aqua;
    padding: 3px 10px;
    margin-bottom: 5px;
}

.quiz-button:hover {
    background-color: blueviolet;
    color: whitesmoke;
}

.score-item {
    padding-top: 5px;
}